@tailwind base;
@tailwind components;
@tailwind utilities; 


.mxr{
    margin-left: 3rem;
}
.mxd{
    margin-left: 2rem;
}

.dr{
    padding-left: 2rem;
}

.maxx{
width: 100%;
}

.active{
    color: #64ffda;
}